@use "../abstracts/colors" as c;

button {
    padding: 10px 30px;
    border: 1px solid black;
    border-radius: 20px;
    background-color: c.$action-color;
    text-transform: lowercase;
    font-size: 1rem;
    cursor: pointer;
    position: relative;
}