@use "../abstracts/colors" as c;
@use "../base/typography" as *;
@use "../base/breakpoints" as *;


#hero {
    display: grid;
    grid-template-columns: 1fr 1fr 1.5fr;
    justify-content: center;
    grid-gap: 30px;
    margin: 50px 20px 80px;
    article {
        display: grid;
        grid-gap: 10px;
        row-gap: 10px;
    }
    article:first-child {
        grid-template-rows: repeat(2, 1fr);
        position: relative;
        h1 {
            font-size: 2.5rem;
            white-space: nowrap;
            transform: rotate(-5deg);
        }
        h1, p {
            text-align: left;
            margin-left: 5rem;
            margin: 0;
        }
        #highlight{
            position: absolute;
            width: 250px;
            height: 100px;
            z-index: -2;
            top: 15%;
            right: 5%;
        }
        div {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            div{
                display: flex;
                align-items: center;
                span {
                    float: left;
                    font-size: 2rem;
                    font-family: $titles;
                    border: 1px solid #000;
                    text-align: center;
                    width: 60px;
                    height: 60px;
                    padding: 0.5rem;
                    border-radius: 50%;
                }
                p{
                    text-transform: uppercase;
                    font-weight: 700;
                    width: 100px;
                    margin-left: 1rem;
                }
            }
            
        }
        
        
    }

    article:nth-child(2) {
        display: grid;
        grid-template-rows: 1fr 2fr;
        justify-content: space-between;
        div {
            max-width: 400px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 100%;
            padding: 1rem;
            border-radius: 20px;
            border: 1px solid #000;
            button {
                width: auto;
            }
        }
  
    }

    #images {
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        div {
            background-repeat: none;
            background-size: cover;
            &:first-child {
                background-image: url(../../img/carrusel1.jpeg); 
            }
            &:nth-child(2) {
                background-image: url(../../img/carrusel2.jpeg); 
            }
            &:nth-child(3) {
                background-image: url(../../img/carrusel4.jpeg); 
            }
        }
    } 
}

@media (max-width: $large) {
    #hero {
        grid-template-columns: 1fr 1fr;
        #images {
            display: none;
        }
}
}