nav {
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    border-bottom: solid black 1px;
    a img{
        height: 50px;
    }
    ul {
        align-items: center;
        li {
            
            padding: 0.5rem 2rem;
        }
    }
}