nav {
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border: solid black 1px;
    border-radius: 30px;
    margin: 10px;
    a {
        
        img {
            height: 30px;   
        }
    }
    ul {
        align-items: center;
        li {
            text-transform: lowercase;
            margin: 10px 30px;
            a{
                padding: 10px 30px;
                &:focus{
                    border: 1px solid #000;
                    border-radius: 20px;           
                
                }
            }
        }
    }

}